@import "../../assets/styles/variables.css";

.footer {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 20px 19px;
    text-align: center;
}

.arrowContainer {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: 50px;
    opacity: 0;
    transform-origin: bottom left;
    transform: rotate(90deg);
    animation: ArrowAnim 0.5s ease-out 0.25s forwards;
}

.footerArrow {
    padding-top: 55px;
}

.arrowText {
    line-height: 1.5em;
    font-size: 0.8rem;
}

@keyframes ArrowAnim {
    from {
        opacity: 0;
        transform: rotate(90deg);
    }
    to {
        opacity: 1;
        transform: rotate(0deg);
    }
}
