:root {
    --header-height: 90px;
    --footer-height: 70px;

    --title-letter-spacing: -0.195rem;

    --accent-color: #b8001a;
    --accent-color-hover: #8a0116;
    --accent-color-dark: #fe414d;
    --accent-color-dark-hover: #ba3239;
}
